#home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  background: url('../assets/images/mountains-universe-1.png') lightgray 100% / cover no-repeat;
}