#universe {
  width: 100%;
  min-height: 100vh;
  background: url('../assets/images/mountains-universe02.png') lightgray 100% / cover no-repeat;

  article {
    max-width: 85rem;
    padding: 18.5rem 10.2rem;

    h1 {
      font: var(--font-title);
      color: var(--gray-100);
    }
    
    p {
      margin-top: 1.6rem;
      font: var(--font-text);
      color: var(--gray-200);
    }
  }
}